{% extends "base.html" %}

{% block content %}
<div class="p-5">
    <h1><strong>ETFs supported by <span class="logo">ETFinder</span>:</strong></h1>
    
    {% autoescape off %}
    <div class="containter my-3">
        {{ plot_div }}
    </div>    
    {% endautoescape %}

  <div class="container px-5 py-3 light-bg rounded">
    <h3>How do you interpret this graph?</h3>
    <p>For some context, Volatility is how much an investment's returns vary from their average. In summary, 
        High volatility means big price swings, while Low volatility means steadier prices with less risk.</p>
    <p>As such, points in the Top-Right of the graph are high-risk, high-reward ETFs, more suited for investors 
        that can afford to lose some or even most of their money if their investment goes south, while points in 
        the Bottom-Left are low-risk, low-reward ETFs, more suited for investors who just want to keep their 
        savings safe but want higher returns on their savings than your average bank account.</p>
  </div>
</div>
{% endblock content %}