{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
<div class="p-5 bg-body-secondary rounded">
    <h1>Welcome {{ basic_user.name }}</h1>
    
    <p>The following are the top 5 picks for your portfolio, based on your previous answers:</p>

    <ol>
        {% for etf in basic_user.recommended_etfs.all %}
        <li><h5>{{ etf.ticker }}</h5>
            <ul>
                <li>Yearly Return (last 10 years): {{ etf.avg_return|mul:100|floatformat:2 }}%</li>
                <li>Return Volatility (last 10 years): {{ etf.volatility|mul:100|floatformat:2 }}%</li>
                <li>Implied Sharpe Ratio (Return/Volatility): {{ etf.sharpe_ratio|floatformat:2 }}x</li>
            </ul>
        </li>
        {% endfor %}
    </ol>

</div>
{% endblock content %}