{% extends "base.html" %}

{% block content %}
<div class="p-5 bg-body-secondary rounded">
    <h1 class="display-3"><strong>About ETFFinder!</strong></h1>
    
    <p>ETFFinder is a project by David Velasquez (<a href="https://www.linkedin.com/in/david-velasquez-v/" target="_blank">LinkedIn</a>) to practice his web development skills.</p>
    <p>The site uses the Django Framework, and is centered around a Machine Learning model (K-means) to cluster the 100 largest ETFs according to their risk levels.</p>
    <p>You can find the code for the site <a href="https://github.com/davidve0206/ETF-Website" target="_blank">here</a>.</p>

</div>
{% endblock content %}