{% extends "base.html" %}

{% block content %}
<div class="p-5 bg-body-secondary rounded">
    <h1 class="display-3"><strong>Welcome to ETFFinder!</strong></h1>
    
    <h3>What are ETFs?</h3>
    <p>Exchange-Traded Funds, or ETFs for short, are like the Swiss Army knives of the investment world. 
    They're bundles of different investments, like stocks, bonds, or commodities, all rolled into one neat package.</p>

    <h3>Why should I invest in ETFs?</h3>
    <p>Firstly, they're easy to buy and sell, just like stocks. You can scoop them up with a click of a button, 
    making them perfect for beginners. Plus, they often have lower fees compared to mutual funds, which means more money stays in your pocket.</p>
    <p>Secondly, ETFs give you instant diversification. Instead of putting all your eggs in one basket, 
    you spread your risk across many different assets. That helps cushion the blow if one investment goes south.</p>
    <p>Lastly, they're flexible. ETFs cover a wide range of markets and sectors, from technology to real estate, so you can always find one that suits your goals.</p>

    <h3>So, how does ETFFinder work?</h3>
    <p>Based on only 3 questions about your investment objectives, we will use our in-house algorithm to determine your risk tolerance. 
    We will then use this information to recommend a set of 5 ETFs to include in your investment portfolio. It is that simple!
    </p>
    <p>Do you want to know the best ETF's for you to invest in?</p>
    <a class="btn btn-success btn-lg" href="{% url "etfs:start" %}" role="button">Yes Please!</a>

</div>
{% endblock content %}